<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.hidden_field :user_id, value:"#{@item.user_id}" %>
      <%= f.hidden_field :item_id, value:"#{@item.id}"%>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :subject, value:"#{@item.title}", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>
    <%= f.submit "Send Message", class: "btn btn-success" %>
<% end %>