<table id="table_index">
	<tr>
		<th style="text-align: center;">Pic</th>
		<th>Title</th>
		<th>Description</th>
		<th>Price/Day</th>
		<th style="text-align: center;">Show</th>
		<th style="text-align: center;">Edit</th>
		<th style="text-align: center;">Delete</th>
	</tr>
		<% @items.each do |i| %>
	<tr>
		<td><%= image_tag (i.avatar.thumb.url) %></td>	
		<td><%= link_to "#{i.title}", item_path(i.id) %></td>
		<td style="text-align: center;"><%= link_to "#{i.description}", item_path(i.id)%></td>
		<td style="text-align: center;"><%= i.price_per_day %></td>
		<td style="text-align: center;"><%= link_to "Show", item_path(i.id), method: :get, :class => "button success" %></td>

			<% if current_user.id == i.user_id %>
				<td style="text-align: center;"><%= link_to "Edit", edit_item_path(i.id), method: :get, :class => "button warning" %></td>
				<td style="text-align: center;""><%= link_to "Delete", item_path(i.id), method: :delete, :class => "button alert" %></td>
			<% else %>
				<td style="text-align: center;"><%= link_to "Book", new_item_rental_path(i.id), method: :get, :class => "button" %></td>
<!-- 				<td style="text-align: center;"">< %= link_to "Delete", item_path(i.id), method: :delete, :class => "button alert" %></td>
 -->	<% end %>
	</tr>
	<% end %>
</table>



