<div class="row">
    <div class="center-block col-md-4" style="float: none;">
   
<% if signed_in? %>
<h2>Rent your stuff !</h2>
<%= form_for @item do |form| %>

  <div><br>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Enter Title" %>
    <br><br>
    <%= form.label :description %>
    <%= form.text_field :description, placeholder: "Describe your good" %>

  </div>

  <div class="control">
    <%= form.label :price_per_day %>
    <%= form.number_field :price_per_day, placeholder: "Enter desired price per day" %>
  </div>

  <br>
  <%= form.label :category %>
  <%= form.select :tag_list, options_for_select(["Kitchen", "Renovation", "Construction", "Tools", "Gardening/Lawncare", "Electronics"]), {}, {:multiple => false, :class => "", :style => "" } %>
  <br><br>

  <div class="field">
    <%= form.label :upload_image %><br />
    <%= form.file_field :avatar %> 
  </div><br>

  <div class="submit-field">
      <%= form.submit %>
  </div>

  <% end %>
<% else %>
	<% flash[:error] = "You need to register or sign in in order to be able to list you item" %>
<% end %>

</div>

</div>
