<% if signed_in? %>
<h2>Rent your stuff !</h2>
<%= form_for @item do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Enter Title" %>

    <%= form.label :description %>
    <%= form.text_field :description, placeholder: "Describe your good" %>

  </div>

  <div class="control">
    <%= form.label :price_per_day %>
    <%= form.number_field :price_per_day, placeholder: "Enter desired price per day" %>
  </div>

    <%= form.file_field :avatars, multiple: true %>

  <div class="submit-field">
      <%= form.submit %>
  </div>

  <% end %>
		<div class="other-links">
		  <%= link_to t(".sign_in"), new_user_session_path %>
	 	</div>    
<% else %>
	<% flash[:error] = "You need to register or sign in in order to be able to list you item" %>
	<%= link_to t(".sign_in"), new_user_session_path %>
	<%= link_to t(".sign_up"), new_user_registration_path %>	
<% end %>

