<div class="container">
<table id="item_table" class="search_items table table-striped">
    <tr>
      <th style="text-align: center;">
        <h1><%= @item.title %></h1>
        <%= image_tag (@item.avatar.large.url) %>
      </th>
      <tr>
        <div class="col-md-12">
          <th style="text-align: center;">
            <div class="col-md-4">
              <i class="fa fa-money fa-3 large_fav"></i><span style="font-size: 20px"> MYR<%= @item.price_per_day %></span>
            </div>
            <div class="col-md-4">
              <i class="fa fa-location-arrow fa-3 large_fav"></i><span style="font-size: 20px"><%= @item.user.locality %></span>
            </div>
            <div class="col-md-4">
              <i class="fa fa-tag fa-3 large_fav"></i> <span style="font-size: 20px"><%= @item.tag_list.first %></span>
            </div>
          </th>
        </div>
      <tr>
        <td style="padding-bottom: 100px"><h3><%= @item.description %></h3></td>
</table>

<hr>
<div class="col-md-12" style="padding-top: 20px">
   <div class="col-md-3 col-md-offset-2">
      <h3>Rent now from:</h3>
    </div>
    <div class="col-md-2">
      <h2><%= link_to @item.user.first_name, user_path(@item.user.id)%></h2>
      <% if @item.user.avatar.present? %>
        <span>
        <img src="<%= @item.user.avatar.thumb.url %>" class="img-circle" alt="">
        </span>
      <% else %>
        <img class="avatar" src="http://placehold.it/64x64">
      <% end %>
    </div>
    <div class="col-md-3" style="text-align: center;">
    <br>
    <%= link_to "Enquire", new_conversation_path(item_id: @item.id), class: "btn btn-info" %>
    <br>
    <br>
    <%= link_to "Book now", new_item_rental_path(item_id: @item.id), class: "btn btn-success" %>
    </div>
  </div>

 
  <% if @item.user==current_user %>
  <div>

  <%= link_to "Edit", edit_item_path(@item.id), method: :get %>
  <%= link_to "Delete", item_path(@item.id), method: :delete %>
</div>
<% end %>










