Category: 
<% @item.tag_list.each do |tag|%>
<%=link_to tag, tags_path(tag)%><br><br>
<%end%> 

<h1><%= @item.title %></h1>
<span>
	<a href="/users/registrations/<%= @item.user_id %>">
		<%= image_tag ((User.find(@item.user_id)).avatar.medium.url), :class => "img-circle" %>
	</a>
</span>

<h2><%= @item.description %></h2>

<!-- < % if current_user.id != @item.user_id %> -->
<!-- < % end %> -->

<h3><%= @item.price_per_day %> MYR</h3>
<!-- < %= image_tag ((User.find(@item.user_id)).avatar.medium.url) %> -->


<div class="row">
  <div class="spacer"></div>
  <div class="col-md-12">
    <%= link_to "Ask a question about this item", new_conversation_path(item_id: @item.id), class: "btn btn-success" %>
    <div class="spacer"></div>


  </div>

<%= image_tag (@item.avatar.medium.url) %>
<p><%= link_to "RENT THIS", new_item_rental_path(@item.id), method: :get, :class => "button success" %></p>

<div>

<!--   < % if @item.avatars.present? %>
  < % @item.avatars.each do |a| %> -->
<!--       <img src="< %= a.large.url %>" alt=""> -->
    <%= link_to "Edit", edit_item_path(@item.id), method: :get %>
    <%= link_to "Delete", item_path(@item.id), method: :delete %>
</div>

