<h1><%= @item.title %></h1>
<h2><%= @item.description %></h2>
<h3><%= @item.price_per_day %></h3>

  <div>
<!--   < % if @item.avatars.present? %>
    < % @item.avatars.each do |a| %> -->
<!--       <img src="< %= a.large.url %>" alt=""> -->
      <%= link_to "Edit", edit_item_path(@item.id), method: :get %>
      <%= link_to "Delete", item_path(@item.id), method: :delete %>
  </div>