<!-- PURE APPLICATION.HTML.ERB DON'T TOUCH !!! -->
<!DOCTYPE html>
<html>
<head>
  <title>Boro</title>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'drop-down-menu', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.geocomplete', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'drop-down-menu', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'freewall', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datepicker', 'data-turbolinks-track' => true %>'
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'what-input','data-turbolinks-track' => true %>
  <meta name="apple-mobile-web-app-title" content="Boro">
  <meta name="application-name" content="Boro">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Boro and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <%=image_tag("boro_logo_64.png", alt: "Logo Image")%>        
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">List your item mobile <span class="sr-only">List your item desktop</span></a></li>
        <li><a href="#">Messages</a></li>
        <li class="dropdown">
          <a href="<%= edit_user_registration_path(current_user) %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <% if signed_in? %> 
          <%= current_user.first_name || "Your Profile" %><span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= button_to "Sign out", destroy_user_session_path, class: "button", method: :delete %></li>
          <% else %>
          <a class="button medium success" data-open="registration">
            Signup / Login
          </a>
          <% end %>
          </ul>

        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Where are you?">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <!-- AVATAR -->

      <% if signed_in? %>
        <% if current_user.avatar.present? %>
        <li>
          <a href="#">
            <%= image_tag current_user.avatar.thumb.url, :id=> "avatar" %>  
          </a>
        </li>

        <% else %>

        <li>
          <a href="/users/<%= current_user.id %>"" method="get">
            <img id="avatar" src="http://placehold.it/64x64">
          </a>
        </li>      
      
        <% end %>

        <li>
          <%= button_to "Sign out", destroy_user_session_path, class: "button", method: :delete %>
        </li> 
      <% end %>

      <!-- AVATAR -->
        <li class="dropdown">
        <% if signed_in? %> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %> 
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">

            <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= button_to "Sign out", destroy_user_session_path, class: "button", method: :delete %></li>
          </ul>            
        <% else %>
        <button type="button success" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registration">
          Signup / Login
        </button>
        <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<p><a href="/users/sign_up">Sign Up</a></p>

  <!-- GOOGLE MAPS STATIC -->

<script>
  function initMap() {
    var petaling = {lat: 3.134717, lng: 101.629968};  
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: petaling, 
      styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
    });
    var marker = new google.maps.Marker({
      position: petaling,
      map: map
    });
  }

// FREEWALL SCRIPT

// put Rails variable in JQuery ?
    var temp = "<div class='brick' style='width:{width}px;'><img src='/items/item{index}.jpg' width='100%'></div>";
    var w = 1, h = 1, html = '', limitItem = 29; // limitItem = Items.all.count in Ruby
    for (var i = 0; i < limitItem; ++i) {
      w = 1 + 3 * Math.random() << 0;
      html += temp.replace(/\{width\}/g, w*150).replace("{index}", i + 1);
    }
    $("#freewall").html(html);

    var wall = new Freewall("#freewall");
    wall.reset({
      selector: '.brick',
      animate: true,
      cellW: 150,
      cellH: 'auto',
      onResize: function() {
        wall.fitWidth();
      }
    });


    var images = wall.container.find('.brick');
    images.find('img').load(function() {
      wall.fitWidth();
    }); 


  //  GOOGLE MAPS TEST BEGIN 

      function initMap() {
        var petaling = {lat: 3.134717, lng: 101.629968};  
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: petaling
        });
        var marker = new google.maps.Marker({
          position: petaling,
          map: map
        });
      }
    </script>
 <!-- GOOGLE MAPS TEST END -->    
 <!-- GEOCOMPLETE START-->
  <script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          types: ["geocode", "establishment"],
          location: "Kuala Lumpur",
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      

        $(".brick").click(
      function(){
        $(this).fadeToggle(1000);
      });

      });
    </script>
 <!-- GEOCOMPLETE END -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB39iSJL86w7qssvZjO0-yd4gYm5c2gpa4&libraries=places&callback=initMap"></script>

</body>
</html>

<!-- MODAL REGISTRATION -->

<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Welcome to your Boro </h4>
      </div>

      <p class="modal-body">
        <%= link_to new_user_registration_path, class: "button", id: "register_email", action: :new, method: :get do %>
        <i class="fi-mail">Sign up with an email address</i>
        <% end %>
      </p>

      <p>
        <%= link_to user_facebook_omniauth_callback_path, class: "button", id:"register_fb" do %>
        <i class="fi-social-facebook">Connect With Facebook</i>
        <% end %>
      </p>

      <span id="register_already" class="lead">
        I already have an account <%= link_to 'Log in', user_session_path, class: "button" %> 
      </span>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>