  <% if @user.avatar.present? %>
	  <span>
	  	<h2><%= @user.first_name %> <%= @user.last_name %></h2>
	    <img src="<%= @user.avatar.thumb.url %>" class="img-circle" alt="">
	  </span>
	<% else %>
		<img class="avatar" src="http://placehold.it/64x64">
	<% end %>

<h2>has <%= @user.items.count %> item for rent</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align: center;">#</th>
      <th style="text-align: center;">Pic</th>
      <th style="text-align: center;">Title</th>
      <th style="text-align: center;">Description</th>
      <th style="text-align: center;">Price (MYR)</th>
    </tr>
  </thead>
  <tbody>
<% @user.items.each do |i|%>
<% counter = 0 %>
  <tr style="text-align: center;">
    <th scope="row"><%= counter += 1 %></th>
    <td><img src="<%= i.avatar.thumb %>" alt=""></td>
    <td><a href="/items/<%= i.id %>"><%= i.title %></a></td>
    <td><%= i.description %></td>
    <td><%= i.price_per_day %> <b>MYR</b></td>
  </tr>
<!-- < % if current_user.id != @user.user_id %> -->
<% end %>

<div>


    <%= link_to "Edit", edit_user_path(@user.id), method: :get %>
    <%= link_to "Delete", user_path(@user.id), method: :delete %>
</div>

